@font-face {
    font-family: "good-dog";
    src: url('./GOODDC__.TTF');
}

#nav {
    background-color: white;
    position: fixed;
    width: 100%;
    padding: 7px 0 7px 0;
    min-height: 35px;
    display: flex;
    justify-content: center;
    border-bottom: rgb(163, 158, 158) 1px solid;
}

#logo-contain {
    width: 500px;
    position: absolute;
    z-index: 2;
}

#logo-contain a {
    text-decoration: none;
}

#logo {
    font-family: "good-dog";
    font-size: 35px;
    margin: 0;
    color: #f25453;
    cursor: pointer;
}

#nav-button-contain {
    width: 500px;
    z-index: 2;
    position: absolute;
    min-height: 35px;
    margin-left: 200px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#nav-buttons {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    z-index: 1;
    
}

#nav-buttons ul {
    display: flex;
    align-items: center;
    margin: 0;
    list-style: none;
    margin-right: 12px;
}

#nav-buttons li {
    margin: 0 12px 0 12px;
    cursor: pointer;
}

#nav-buttons div:first-of-type {
    display: flex;
    align-items: center;
}

#arrow-contain {
    width: 500px;
    z-index: 3;
    position: absolute;
    min-height: 35px;
    margin-left: 200px;
    top: 42px;
}

#center-arrow {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.arrow-up-a {
    display: none;
}

.arrow-up-b {
    display: block;
    width: 0; 
    height: 0; 
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    position: absolute;
    border-bottom: 8px solid violet;
    }


.filter-a, .filter-b {
    height: 32px;
    width: 32px;
}

.filter-b, .filter-a-after {
    display: none;
}

.filter-b-after {
    display: block;
}

.home-a, .home-b {
    height: 32px;
    width: 32px;
}

.home-b, .home-a-after {
    display: none;
}

.home-b-after {
    display: block;
}

/* mobile */
@media only screen and (max-width: 700px){
    #nav-button-contain {
        width: calc(100% - 200px);
        min-width: 105px;
    }
    #arrow-contain {
        width: calc(100% - 200px);
        min-width: 105px;
    }
}
@media only screen and (max-width: 500px){
    #logo-contain {
        width: 100%;
    }

    #logo {
        margin-left: 12px;
    }

}

/* windows desktop */
@media only screen and (min-width: 2000px){
    #logo-contain {
        width: 1000px;
    }
    #nav-button-contain {
        width: 1000px;
    }
    #arrow-contain {
        width: 1000px;
    }
}
